body, html {
    height: 100%;
}

@font-face{
    font-family: 'Ailerons';
    src: url('../misc/Ailerons.otf');
}

body { margin:0; }

.allpages {
    /* text-align: left; */
    min-height: 100%;
    min-height: 100vh;
  
    display: flex;
    align-items: center;
    
    color: #ffffff;
}

.home-background {
    background:linear-gradient(
          rgba(33, 37, 41, 0.6), 
          rgba(33, 37, 41, 0.6)
        ), url('../img/background/back.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects-background {
    background:linear-gradient(
          rgba(93, 169, 233, 0.6), 
          rgba(93, 169, 233, 0.6)
        ), url('../img/background/back.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.skills-background {
    background:linear-gradient(
        rgba(61, 52, 139, 0.6), 
        rgba(61, 52, 139, 0.6)
        ), url('../img/background/back.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.education-background {
    background:linear-gradient(
        rgba(157, 105, 90, 0.6), 
        rgba(157, 105, 90, 0.6)
      ), url('../img/background/back.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-background {
    background:linear-gradient(
        rgba(4, 114, 77, 0.6), 
        rgba(4, 114, 77, 0.6)
        ), url('../img/background/back.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page {background-color:#212529;}

.education-page {background-color: #9d695a;}

.skills-page {background-color:#3d348b;}

.projects-page {background-color:#5da9e9;}

.about-page {background-color: #04724d;}

.header {
	text-align: center;
	top: 50%;
	position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 0;
}

.title{
	font-size: 5.2vmax;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    /* color: #93A3BC; */
    font-family: 'Ailerons';
}

.subtitle{
	font-size: 1.8vmax;
	color: #bbbbbb;
    font-family: 'Roboto', sans-serif; 
    font-weight: 100;
    font-style: italic; 
}