body, html {
    height: 100%;
}

@font-face{
    font-family: 'Ailerons';
    src: url('../misc/Ailerons.otf');
}

body { margin:0; }

.home-page {
    background-color:#212529;
    height: 100%; 
}

.education-page {
    background-color:#748CAB;
    height: 100%; 
}

.projects-page {
    background-color: #9D695A;
    height: 100%; 
}

.about-page {
    background-color: #04724D;
    height: 100%; 
}

.header {
	font-family: 'Ailerons';
	text-align: center;
	top: 50%;
	position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 0;
}

.header .middle{
	font-size: 5.2vmax;
    color: #93A3BC;
	/* color: #635f5c; */
}

.header .top, .bottom{
	font-size: 1.8vmax;
	color: #bbbbbb;
}
